@import url(//db.onlinewebfonts.com/c/c86f6e311c62f1ee74affa41d9c3686f?family=Streamster);

@font-face {
    font-family: "Streamster";
    src: url("//db.onlinewebfonts.com/t/c86f6e311c62f1ee74affa41d9c3686f.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/c86f6e311c62f1ee74affa41d9c3686f.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 350px;
    background-image: linear-gradient(90deg, #ffffff 0%, #d6efff 12.5%, #00c8ff 24.5%, #ffffff 24.5%, #d6efff 37.5%, #00c8ff 51%, #ffffff 51%, #d6efff 62.5%, #00c8ff 75%, #ffffff 75%, #d6efff 87.5%, #00c8ff 100%);
    -webkit-background-clip: text;
    color: transparent;
}

h1:last-of-type {
    position: absolute;
    font-size: 250px;
    background-image: linear-gradient(180deg, #1749b5 30%, #d6efff 47%, #1e14a6 52%, #c300ff 75%);
    margin-top: -5.5%;
    font-weight: 100;
    transform: scale(1.4);
}

h2 {
    font-family: 'streamster';
    color: white;
    text-shadow: 3px 3px 15px #c300ffb7, 3px 5px 12px #c300ff, -3px -3px 15px #c300ffbc, -2px -5px 15px #e100ff;
    padding: 1.5%;
    margin-top: -2.5%;
}

h3 {
    font-family: 'Bungee Outline', cursive;
    font-size: 200px;
    color: #ffc800;
    position: absolute;
}

.container {
    height: 100vh;
}

.container img {
    position: absolute;
    scale: 3;
    left: 66%;
    top: 90%;
    transform: translate(-65%, -90%);
    z-index: 2;
    animation: erase 4s ease-out forwards;
}

.container div {
    height: 5%;
    width: 100%;
    background: #303030;
    animation: wipe 4s ease-in-out forwards;
}

.container div:first-of-type, .container div:last-of-type {
    height: 20%;
}

.container div:nth-of-type(2), div:nth-of-type(7) {
    height: 15%;
}

.container div:nth-of-type(3), div:nth-of-type(6) {
    height: 10%;
}

.main {
    position: absolute;
    z-index: -1;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 20vh;
    background-color: rgb(13, 6, 42);
    height: 100%;
}

.bg {
    width: 102%;
    margin-left: -2%;
    margin-top: -.5%;
}

.overlay {
    background: linear-gradient(to bottom, rgba(247, 0, 255, 0.7) 0%, rgba(247, 0, 255, .25) 10%, transparent 50%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 22.1%;
    height: 60%;
}

.grid {
    height: 30vh;
    left: 0;
    margin-top: -34%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(225, 0, 255, .5) 1px, transparent 1px),
        linear-gradient(to right, rgba(174, 0, 255, .5) 1px, transparent 1px);
    transform-origin: 50% 0;
    transform: rotateX(20deg);
    background-size: 42px 42px;
    animation: crawlingWall 10s linear infinite;
}

.logo50 {
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    width: 90vw;
}

.logo50_mobile {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.menu button {
    margin: 1.5%;
    height: 6vh;
    width: 15vw;
    font-family: 'Press Start 2P', cursive;
    background: #cdcdcd;
    cursor: pointer;
}

.menu button:hover {
    border: rgb(47, 255, 231) 2px solid;
}

.modal {
    display: flex;
    position: absolute;
    overflow: hidden;
    background: #cdcdcd;
    padding: 5%;
    font-family: 'Press Start 2P', cursive;
    line-height: 110%;
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal button {
    margin: 1%;
    height: 6vh;
    width: 15vw;
    background: #797979;
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
}

.modal button:hover {
    border: rgb(47, 255, 231) 2px solid;
    cursor: pointer;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #cdcdcd;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    transform: translateY(-17%);
}

.modal_settings {
    background: #cdcdcd;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
}

.modal_settings p {
    margin-bottom: 5%;
}

.music, .sound, .animOff {
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music svg, .sound svg, .animOff svg {
    width: 12.5%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 15%;
    height: 64%;
    margin-left: 10%;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303030;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 70%;
    width: 38%;
    left: 3.5px;
    bottom: 4.4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

}

input:checked+.slider {
    background-color: #ffffff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ffffff;
}

input:checked+.slider:before {
    transform: translateX(22px);
    background: #303030;
}

.close {
    width: 3%;
    position: absolute;
    top: 5%;
    margin-left: 33%;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    transform: translateY(-17%);
}

.modal_credits {
    background: #cdcdcd;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    padding: 4%;
    line-height: 50px;
}

.close_credits {
    width: 3%;
    position: absolute;
    top: 5%;
    margin-left: 33%;
    cursor: pointer;
}

.hidden {
    display: none;
}

/*Animations*/
@keyframes wipe {
    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes erase {
    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes crawlingWall {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -250%;
    }
}

/* Responsive */
@media only screen and (max-width: 767px) {
    .container {
        max-width: 100%;
    }

    .container img {
        scale: 1.5;
        left: 69%;
        top: 62.5%;
    }

    .bg {
        margin-top: -45%;
    }

    .overlay {
        margin-top: 20.7%;
        height: 100%;
    }

    .grid {
        margin-top: -77%;
        height: 50.5%;
        background-size: 25px 15px;
        animation: crawlingWall 30s linear infinite;
    }

    .logo50 {
        display: none;
    }

    .logo50_mobile {
        display: block;
        position: absolute;
        margin-top: 163%;
    }

    .menu {
        margin-top: -30%;
    }

    .menu button {
        width: 60vw;
        height: 7vh;
        font-size: larger;
    }

    .modal {
        height: 50vh;
        width: 85vw;
        margin-bottom: 45%;
        text-align: center;
        font-size: 19px;
        line-height: 150%;
        padding: 12%;
    }

    .modal .btn:first-of-type {
        margin-top: 24%;
    }

    .modal .btn {
        margin-top: 5%;
        width: 50vw;
        font-size: 16px;
    }

    .end p {
        font-size: 30px;
    }

    .end h1 {
        font-size: 190px;
        margin-top: 25%;
    }

    .end h1:last-of-type {
        font-size: 123px;
        margin-top: -13%;
        scale: 1.1;
    }

    .end h2 {
        font-size: 55px;
        padding: 4%;
        margin-top: 15%;
    }

    .settings {
        height: 50vh;
        width: 100vw;
        text-align: center;
        font-size: 19px;
        line-height: 150%;
        padding: 12%;
        margin-top: 50%;
    }

    .modal_settings {
        height: 50vh;
    }

    .close, .close_credits {
        width: 15%;
        margin-left: 0;
        top: 8%;
    }

    .modal_settings p {
        margin-top: 20%;
    }

    .music {
        margin-top: 10%;
    }

    .credits {
        height: 50vh;
        width: 100vw;
        text-align: center;
        line-height: 150%;
        padding: 12%;
        margin-top: 50%;
    }

    .modal_credits {
        height: 50vh;
    }

    .modal_credits p {
        text-align: center;
        font-size: 16px;
        margin-top: 12%;
    }
}
